button{
    background: #1E92D4;
    color: #fff;
    border: none;
    padding: 10px;
    min-width: 100px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background: #1D74A6;
}